*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}






body{
font-size: 20px;
}

header {
    display : flex;  /*definir o meu layout flexivel para eu alterar elementos*/ 
    align-items: center; /*centralizar os elementos*/ 
    justify-content: space-between; 
    background-color: darkgoldenrod; 

}

header .profile img {
    width: 100px; /*largura*/
    height: 110px; /*altura*/
    border-radius: 50%;
    padding: 20%
}

header .links a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-weight:bold;
    margin: 0 10px;
    font-size: 20px;
    font-family: Montserrat;
}


h2{
    font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.descricao{
    text-align: center;
    margin: 20px;
}

.conteudo{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.bloco{
    width: 30%;
    background-color: darkgoldenrod;
    padding: 15px;
    border: 1px solid black;
}

.falacomigo{
    text-align: center;
    margin: 20px;
}

form{
    display: inline-block;
    text-align: left;
}

form label{
    display: block;
    margin: 5px 0;
}

form input{
width: 100%;
padding: 8px;
margin: 5px 0;
border: 1px solid black;
border-radius: 8px;
}

